services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./server:/api
    restart: always
  frontend:
    build:
      context: ./client/my-app
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./client/my-app:/app
      - /app/node_modules
      #- /etc/letsencrypt/archive/scribify.net:/etc/nginx/ssl:ro # Monter les certificats SSL en lecture seule
      - /etc/letsencrypt/live/scribify.net/fullchain.pem:/etc/nginx/ssl/fullchain1.pem:ro
      - /etc/letsencrypt/live/scribify.net/privkey.pem:/etc/nginx/ssl/privkey1.pem:ro
    depends_on:
      - backend
    restart: always

